* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*блок для вопросов и ответов*/
.container {
    min-width: 350px;
    width: 40%;
    margin: 20px auto 20px auto;
    background-color: #6892ff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

/*блок вопроса*/
.block {
    display: table-cell;
    vertical-align: middle;
    width: 100vw;
    height: 200px;
    background-color: #b860ff;
    font-size: 40px;
    /*text-align: center;*/
    margin-bottom: 20px;
    border-radius: 10px;
}

.answer_block {
    display: grid;
    align-items: center;

    grid-gap: 30px;
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: repeat(2, 90px);

    margin-top: 20px;
}

/*блок ответа*/
.answer {
    background-color: #4863ae;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    line-height: 90px;
    font-size: 28px;
    outline: none;
}

.button {
    margin-top: 20px;
    width: 170px;
    height: 50px;
    border: none;
    box-shadow: 0 3px 3px 0;
    border-radius: 10px;
    font-size: 18px;
    background-color: #4863ae;
}

@media all and (max-width: 500px) {
    .container {
        width: 100%;
        border-radius: 0;
        margin: 0;
    }
}


